.mainPed {
	background-color: #f44336;
	color: black;

}

.pPedi {
	margin-left: 3%;
}

.divPago {
	background-color: black;
}

.btnPagos {
	border-radius: 30px;
	background-color: #f44336;
	border: solid red;
	width: 20%;
	font-size: 1.3rem;
	color: white;
	margin-left: 75%;
	margin-top: 1%;
}

.mapaImg {
	margin-top: 2.5%;
	width: 40%;
}

.parentPe {
	width: 100%;
	position: fixed;
	margin-top: 7%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 50px;
}

.div1Pe {
	grid-area: 1 / 1 / 2 / 2;
}

.div2Pe {

	margin-top: 7%;
	grid-area: 1 / 2 / 2 / 3;
}

.bDire {
	color: white;
	margin-left: 10%;
	font-size: 2rem;
}

.divInputPe {
	margin-top: -10%;
	width: 40%;
	margin-left: 46%;
}

.inputDire {
	border-radius: 30px;
}

.ptotal {
	font-size: 1.5rem;
	color: red;
	margin-left: 80%;
}